<body ng-controller="UserCtrl" ng-app="bangular">
  <section class="container">
    <div class="login">
      <h1>Login to Bangazon!</h1>
        <p><input type="text" name="username" value="((user.username))" placeholder="Username or Email"></p>
        <p><input type="password" name="password" value="((user.password))" placeholder="Password"></p>
        <button ng-click="login()">Login</button>
    </div>

    <div>
        <h3>New Customer? Register <a href="partials/register.html">here</a>!</h3>
</body>

