

<body ng-controller="UserCtrl" ng-app="bangular">
  <section class="container">
    <div class="register">
      <h1>Register with Bangazon!</h1>
      <form method="post" action="">
        <p><input type="text" name="username" value="" placeholder="Username"></p>
        <p><input type="password" name="password" value="" placeholder="Password"></p>
        <p><input type="email" name="email" value="" placeholder="Email"></p>
        <p><input type="first_name" name="first_name" value="" placeholder="First Name"></p>
        <p><input type="last_name" name="last_name" value="" placeholder="Last Name"></p>
        <button ng-click="register()">Register</button>
      </form>
    </div>
</body>